// Jack Jones
$j-black: #0f0f0f;
$j-white: #ececec;
$j-red: #952133;

$j-ratio: 16 / 9; // 长宽比


@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
